<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Nasabah</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h2">Daftar Nasabah</h1>

    </div>

    <div class="table-responsive">

        <div th:if="${daftarNasabah == null || daftarNasabah.empty}">
            Nasabah Backend sedang offline
        </div>

        <table th:if="${daftarNasabah?.size() > 0}" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Nomor</th>
                <th>Nama</th>
                <th>Email</th>
                <th>No. HP</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="n,row : ${daftarNasabah}">
                <td th:text="${row.count}">1</td>
                <td th:text="${n.nomor}">1234567890</td>
                <td th:text="${n.nama}">Nasabah Test 001</td>
                <td th:text="${n.email}">nasabah001@coba.com</td>
                <td th:text="${n.noHp}">081234567890</td>
                <td>
                    <a th:href="@{/nasabah/form(id=${n.id})}" class="btn btn-xs">edit</a>
                    <a th:href="@{/nasabah/delete(id=${n.id})}" class="btn btn-xs">hapus</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>