<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <h2>Host Info</h2>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Host Info</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title" th:text="${info.hostname}"></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="${info.ip}"></li>
                        <li th:text="${info.port}"></li>
                    </ul>
                    <a th:href="@{/home}" class="btn btn-lg btn-block btn-outline-primary">Refresh</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>